* {
   font-family: "Raleway", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #343a40;
   color: white;
}

i,
svg {
   pointer-events: none;
}

.sequencer {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1 {
   margin-bottom: 0.5rem;
}

.controls button {
   background-color: #fffffc;
   border-color: #fffffc;
   border-radius: 5%;
   padding: 0.5rem;
   transition: all 0.5s ease;
   margin-right: 0.5rem;
}

select {
   background-color: #343a40;
   color: #fffffc;
   padding: 0.5rem;
   border-color: #fffffc;
   border-radius: 5%;
}

.clap-track,
.hihat-track,
.kick-track,
.perc-track,
.snare-track,
.tom-track {
   display: flex;
   align-items: center;
   width: 55%;
   justify-content: space-between;
   margin-top: 2rem;
}

.clap-track {
   margin-top: 0;
}

.clap,
.hihat,
.kick,
.perc,
.snare,
.tom {
   display: flex;
}

.pad {
   transition: all 0.5 ease;
}

.clap-pad,
.hihat-pad,
.kick-pad,
.perc-pad,
.snare-pad,
.tom-pad {
   width: 5rem;
   height: 5rem;
   margin: 1rem 0.5rem;
   cursor: pointer;
   border-radius: 5%;
}

.clap-pad {
   background-color: #ffadad;
}

.hihat-pad {
   background-color: #ffd6a5;
}

.kick-pad {
   background-color: #fdffb6;
}

.perc-pad {
   background-color: #caffbf;
}

.snare-pad {
   background-color: #9bf6ff;
}

.tom-pad {
   background-color: #a0c4ff;
}

.clap-pad::after {
   background-color: #ff5b5b;
}

.hihat-pad::after {
   background-color: #ffb050;
}

.kick-pad::after {
   background-color: #faff60;
}

.perc-pad::after {
   background-color: #7bff60;
}

.snare-pad::after {
   background-color: #4bf0ff;
}

.tom-pad::after {
   background-color: #5295ff;
}

.play {
   padding: 0.5rem 2rem;
   margin-top: 1rem;
   font-size: 1.5rem;
   font-weight: 600;
   background-color: #fffffc;
   border: none;
   border-radius: 3%;
   cursor: pointer;
}
