* {
   font-family: "Raleway", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #343a40;
   color: white;
}

i,
svg {
   pointer-events: none;
}

.sequencer {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1 {
   margin-bottom: 0.5rem;
}

.controls button {
   background-color: #fffffc;
   border-color: #fffffc;
   border-radius: 5%;
   padding: 0.5rem;
   transition: all 0.5s ease;
   margin-right: 0.5rem;
}

select {
   background-color: #343a40;
   color: #fffffc;
   padding: 0.5rem;
   border-color: #fffffc;
   border-radius: 5%;
}

.clap-track,
.hihat-track,
.kick-track,
.perc-track,
.snare-track,
.tom-track {
   display: flex;
   align-items: center;
   width: 55%;
   justify-content: space-between;
   margin-top: 2rem;
}

.clap-track {
   margin-top: 0;
}

.clap,
.hihat,
.kick,
.perc,
.snare,
.tom {
   display: flex;
}

.pad {
   transition: all 0.5s ease;
}

.clap-pad,
.hihat-pad,
.kick-pad,
.perc-pad,
.snare-pad,
.tom-pad {
   width: 5rem;
   height: 5rem;
   margin: 1rem 0.5rem;
   cursor: pointer;
   border-radius: 5%;
}

.clap-pad {
   background-color: #ffadad;
}

.hihat-pad {
   background-color: #ffd6a5;
}

.kick-pad {
   background-color: #fdffb6;
}

.perc-pad {
   background-color: #caffbf;
}

.snare-pad {
   background-color: #9bf6ff;
}

.tom-pad {
   background-color: #a0c4ff;
}

.clap-pad.active {
   background-color: #ff4141;
}

.hihat-pad.active {
   background-color: #ffa63a;
}

.kick-pad.active {
   background-color: #f8ff1f;
}

.perc-pad.active {
   background-color: #67ff48;
}

.snare-pad.active {
   background-color: #38eeff;
}

.tom-pad.active {
   background-color: #428aff;
}

.play {
   padding: 0.5rem 2rem;
   margin-top: 1rem;
   font-size: 1.5rem;
   font-weight: 600;
   background-color: #fffffc;
   border: none;
   border-radius: 3%;
   cursor: pointer;
}

@keyframes playTrack {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(1.2);
   }
}
